#login{
    text-align: center;
}
main .logo{
    height: 80px;
    aspect-ratio: 1/1;
    margin: 8rem auto 1rem;
}
input,label,button{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}
label{
    color: var(--main-color);
    margin-bottom: 5px;
    font-size: 1.1rem;
}
input{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--main-color);
    background-color: var(--white);
    color: var(--main-color);
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    transition: all .33s linear;
    height: 50px;
}
input:focus{
    border: 2px solid var(--main-color);
    outline: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white)
}
input.error{
    border-color: var(--danger);
    color: var(--danger);
}
button{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 5px;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all .33s linear;
    height: 50px;
    cursor: pointer;
}
.register{
    text-align: center;
    margin-top: 10px;
}